<style>
    body
    {
        background: white url('/app/themes/img/spraying-1461374.jpg') no-repeat;
        background-position: 0px -400px;
        margin-top: 20px;
    }
    
    .navbar
    {
        background-color: transparent;
        padding-top: 0px;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    }
    
    .navbar-fixed-top
    {
        position: relative;   
    }
    
    .navbar-collapse.in
    {
        position: absolute;
        right: 30px;
    }
    
    

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
</style>

<div class="howavoid">
    <div class="container">
        <div class="internalpage-title">
            <h2>COMO PREVENIR?</h2>
            <p>A melhor forma de exterminar o mosquito da dengue é evitando ele, vamos lá então! Veja abaixo algumas dicas:<br />
            <a href="#howavoidtext"></a></p>
        </div>
        <div class="howavoid-content">
            <ol>
                <li><span class="icon check dot dark fill-blue-light fl"></span> Mantenha a caixa d'água sempre fechada com tampa adequada.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Remova folhas e tudo que possa impedir a água de correr pelas calhas.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Não deixe água de chuva acumulada sobre a laje.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Lave semanalmente por dentro com escovas e sabão os tanques utilizados para armazenar água.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Mantenha bem tampados tonéis e barris d'água.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Encha de areia até a borda os pratinhos dos vasos de planta.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Se você tiver vasos de plantas aquáticas, troque a água e lave o vaso principalmente por dentro com escova, água e sabão pelo menos uma vez por semana.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Guarde garrafas sempre de cabeça para baixo.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Entregue seus pneus velhos ao serviço de limpeza urbana ou guarde-os sem água em local coberto e abrigados da chuva.</li>
                <li><span class="icon check dot dark fill-blue-light fl"></span>Coloque o lixo em sacos plásticos e mantenha a lixeira bem fechada. Não jogue lixo em terrenos baldios.</li>
            </ol>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(".nav li.active").removeAttr('class');
    $("#link-howtoavoid").attr('class', 'active');

</script>