<section class="pagina-bgbranco">
    <div class="interesses box-itens-escritorio box-itens-campos">
        <div class="campos_interesse_exemplos">
            <h2><span>{{item.detalhamento | limitTo: 42}}...</span></h2>
            <p class="interesses-descricao" ng-bind-html="item.descricao"></p>
            <div ng-style="{'background-image':'url('+ item.imagemfundoaspas + ')'}" style="padding: 2rem;">
            </div>
            <p class="text-center">CONFIRA ABAIXO MAIS EXEMPLOS SOBRE ESSE ASSUNTO</p>
        </div>

    </div>
</section>
<section id="segmentos_relacionados">
    <h2>Você tem outro interesse?</h2>
    <ul>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/selecao-e-provimento">
                <img src="http://servidor.adv.br/img/ui/selecao_provimento.svg">
                <h1>Seleção e provimento</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/exercicio-e-afastamento">
                <img src="http://servidor.adv.br/img/ui/exercicio_afastamento.svg">
                <h1>Exercício e afastamento</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/remuneracao">
                <img src="http://servidor.adv.br/img/ui/remuneracao.svg">
                <h1>Remuneração</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/tributos">
                <img src="http://servidor.adv.br/img/ui/tributos.svg">
                <h1>Tributos</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/saude-e-seguranca-do-trabalho">
                <img src="http://servidor.adv.br/img/ui/saude_seguranca_trabalho.svg">
                <h1>Saúde e segurança do trabalho</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/disciplina-probidade-e-contas">
                <img src="http://servidor.adv.br/img/ui/disciplina_probidade_contas.svg">
                <h1>Disciplina, probidade e contas</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/liberdade-sindical-e-associativa">
                <img src="http://servidor.adv.br/img/ui/liberdade_sindical_associativa.svg">
                <h1>Liberdade sindical e associativa</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/defesa-de-prerrogativas">
                <img src="http://servidor.adv.br/img/ui/defesa_prerrogativas.svg">
                <h1>Defesa de prerrogativas</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/campos_interesse/seguridade-social">
                <img src="http://servidor.adv.br/img/ui/seguridade_social.svg">
                <h1>Seguridade social</h1>
            </a>
        </li>
    </ul>

    <h2 style="margin-top: 70px;">Qual é o seu perfil?</h2>
    <ul id="listagem_segmentos">
        <li>
            <a href="http://servidor.adv.br/segmentos/entidades-de-classe">
                <img src="http://servidor.adv.br/img/ui/entidades_classe.svg" width="48px">
                <h1>Entidades de classe</h1>
            </a>

        </li>
        <li style="width: 26%">
            <a href="http://servidor.adv.br/segmentos/candidatos-a-cargo-publico">
                <img src="http://servidor.adv.br/img/ui/concurso_selecao_flat.svg" width="48px">
                <h1>Candidatos a cargos públicos</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/segmentos/servidores-ativos">
                <img src="http://servidor.adv.br/img/ui/servidores_ativa.svg" width="48px">
                <h1>Servidores ativos</h1>
            </a>
        </li>
        <li>
            <a href="http://servidor.adv.br/segmentos/servidores-inativos">
                <img src="http://servidor.adv.br/img/ui/aposentadoria.svg" width="48px">
                <h1>Servidores aposentados</h1>
            </a>
        </li>
    </ul>
</section>

