<div class="row page-posts" id="content_box" style="padding:0;border-bottom: 1px solid #eee;">
    <div class="col-md-12 col-xs-12">
        <div class="text-left" ng-show="loading">
            <img src="app/themes/img/facebook.gif" style="position: relative; top: 10px; margin-right: 10px;" />
        </div>
        <div class="post excerpt text-left" ng-show="naoencontrado">
            <div class="post-data-faixa">
                <div class="canto-data"></div>
                <div class="data"><img src="app/themes/img/time.png" />&nbsp;<div class="subNoticiasData" id="DataHoje"></div></div>
            </div>
            <h2 class="title">
                <a ng-href="/index.html#/" title="Nenhum post encontrado">Nenhum post encontrado</a>
            </h2>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="post-corpo">
                        <p>Volte para a <a ng-href="/index.html#/">Home</a> e veja todos os posts do Servidor Legal.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="post excerpt text-left" ng-repeat="p in lista">
            <div class="post-data-faixa">
                <div class="canto-data"></div>
                <div class="data"><img src="app/themes/img/time.png" /><div class="subNoticiasData">&nbsp;{{p.publicada | date:'dd/MM/yyyy'}}</div></div>
            </div>
            <h2 class="title">
                <a ng-href="{{'/index.html#/post/' + p.url}}" title="{{p.title}}" rel="bookmark">{{p.title}}</a>
            </h2>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="subNoticias">
                        <img src="app/themes/img/user.png" />
                        <div class="subNoticiasPor">
                            Por
                            <a ng-href="{{'/index.html#/posts/autor/' + p.autores}}" title="{{p.autores}}" rel="nofollow">{{p.autores == 'Lorranne de Souza Oliveira' ? 'Blog Servidor Legal' : p.autores}}</a>
                        </div>
                        <!-- <img src="app/themes/img/court.png" style="padding-left: 20px;" /> -->
                        <div class="subNoticiasSecao" ng-repeat="category in p.categorias">
                            <a ng-href="{{'/index.html#/posts/categoria/' + category}}" title="{{category}}" rel="nofollow"><span>#{{category}}</span></a>
                        </div>
                        <div class="subNoticiasCampos">
                            <span ng-repeat="campo in p.camposdeInteresse">
                                <a ng-href="/index.html#/posts/interesse/{{campo.title}}" style="background-color:{{campo.cor}};padding:5px 10px;color:white;font-weight:bold;font-size:11px;border-radius:1px;margin-right: 3px;">
                                    <img ng-src="{{campo.iconeBranco}}" class="interesses-iconebranco" />&nbsp;{{campo.title}}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="post-corpo">
                        <p ng-bind-html="p.breveDescricao | limitTo: 310 + ' ...'"></p>
                    </div>
                </div>
            </div>
            <div class="LeiaMais"><a ng-href="{{'/index.html#/post/' + p.url}}" title="{{p.title}}" rel="bookmark">Leia Mais</a></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<nav class="paginacaoHome" style="text-align:left;margin:0;margin-top:20px" ng-show="pagination">
    <ul class="paginacao">
        <li ng-show="previousview">
            <a onclick="goBack()" aria-label="Previous" style="float:none">
                <span aria-hidden="true">{{namePrevious}}</span>
            </a>
        </li>
        <li ng-show="nextview">
            <a ng-href="{{nextpage}}" aria-label="Next" style="float:none">
                <span aria-hidden="true">{{nameNext}}</span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    function goBack() {
        window.history.back()
    }

    $(document).ready(function () {
        var date = new Date();
        var dia = date.getDate();
        var mes = date.getMonth();
        var ano = date.getFullYear();

        if (mes.toString().length == 1)
            mes = '0' + mes;
        if (dia.toString().length == 1)
            dia = '0' + dia;

        var hoje = dia + "/" + mes + "/" + ano;

        document.getElementById("DataHoje").innerHTML = hoje;
    });
</script>
